body {
    margin: 0;
    background-color: #333333;
    padding: 0;
    align-items: center;
}

/* Add a reset for ul */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuitems {
    float: right;
    padding-top: 2px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.rightmenu {
    list-style-type: none;
    align-items: center;
}

.cornerbadge {
    float: left;
}

.cornerbadge a{
    font-size: 28px;
    padding: 14px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 400px;
}
   
.role {
    font-style: italic;
}
.menuitems a {
  display: block;
  color: black;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  width: 200px;
}

.menuitems a:hover {
  background-color: #111111;
  color: white;
}
/* Add styles for the career sections */
.career-section {
    margin: 20px;
    align-items: center;
    text-align: center;
}

.experience-list {
    list-style-type: none;
    padding: 0;
}

.experience-list li {
    margin-bottom: 20px;
}

.experience-list h3 {
    color: white;
    font-style: italic;
}

.experience-list p {
    color: white;
}

.SectTitle {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #434343;
    padding: 10px;
}

.CareerSectBlock{
    display: block;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    margin-right: 35%;
    margin-left: 35%;
    padding-top: 10px;
    margin-bottom: 10px;
}
.CareerSectImg {
    width: 400px;
    height: 300px;
}

/* Media Query for mobile screens */
@media (max-width: 1000px) {
    
   html, body {
    overflow-x: hidden;
}
.CareerSectImg {
    width: 80%;
    height: 60%;
}
    
.CareerSectBlock{
    display: block;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 10px;
}    
    body{
        width: 100%;
    }
    
    .topbar {
        width:100%;
    }
    .cornerbadge {
        width: 100%;
        text-align: center;
    }

    .cornerbadge a {
        width: 100%;
        text-align: center;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 30px;

    }
    .rightmenu {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .menuitems {
        float: none;
        width: 33.33%;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .menuitems a {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }}